html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Verdana, sans-serif;
}
input {
  margin: 0;
}
p {
  margin: 0;
}
button {
  border: none;
  background: inherit;
}
button:hover {
  transition: background-color 0.1s linear;
  filter: brightness(90%);
}
.container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  /* max-width: 1600px; */
}
#myMap {
  position: relative;
  height: 100%;
  float: right;
}
.directionsContainer {
  width: 20%;
  height: 100%;
  overflow-y: auto;
}
.directionsContainer > span {
  position: absolute;
  text-align: center;
  color: #717171;
  padding: 90px;
  z-index: -1;
  max-width: 270px;
}
.directionsPanel {
  background-color: #fff;
  width: 100% !important;
}
.left-panel {
  width: 20%;
}
.left-panel > button {
  background-color: #d5d5d5;
  width: 100%;
  height: 7%;
  font-size: 20px;
}
#searchBoxContainer {
  height: 6%;
}
#searchBox {
  height: 100%;
  font-size: 20px;
  width: 97%;
  border: 1px solid black;
  background-color: #f0f0f0;
}
.selected-cities {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 30px 0;
  background-color: #f0f0f0;
  border-radius: 5px;
  gap: 20px;
  min-height: 50px;
  overflow-y: auto;
  height: 73%;
  margin: 0;
}
.selected-cities > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  height: 50px;
  background-color: #d5d5d5;
}
.selected-cities > li:hover {
  background-color: #cdcdcd;
  transition: background-color 0.1s linear;
}
.selected-cities > li > button {
  height: 100%;
  width: 40px;
}
.selected-cities > li > p {
  margin: auto 0;
  font-size: 20px;
}
.selected-cities > span {
  display: none;
  text-align: center;
  color: #717171;
}
.selected-cities > span:only-child {
  display: block;
  margin: auto;
}

.alerts-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 400px;
  margin: 0 auto;
  gap: 20px;
  z-index: 200;
}
.alert {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.alert > p {
  width: 365px;
  margin: auto 0;
}
.alert > button {
  border-radius: 50%;
  background-color: #d5d5d5;
  height: 25px;
  width: 25px;
  margin: auto 0;
}
.form-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.form {
  display: flex;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 600px;
  height: 50px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.form > input {
  border-radius: 0;
  width: 60%;
  font-size: 20px;
}
.form > button {
  background-color: #d5d5d5;
  width: 20%;
  font-size: 20px;
}
.routes-list-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.routes-list {
  position: absolute;
  margin: auto;
  padding: 35px;
  border-radius: 15px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 600px;
  height: 50%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.routes-list > button {
  position: absolute;
  text-align: center;
  padding: 0;
  right: 6px;
  top: 8px;
  border-radius: 50%;
  background-color: #d5d5d5;
  height: 25px;
  width: 25px;
  margin: auto 0;
}
.routes-list > ul {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.routes-list > ul > p {
  text-align: center;
  color: #717171;
}
.routes-list > ul > li {
  background-color: #d5d5d5;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  gap: 20px;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
}
.routes-list > ul > li > p {
  width: 60%;
}
.routes-list > ul > li > button {
  width: 20%;
  font-size: 20px;
  border-radius: 5px;
}
.map-img-generator__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.map-img-generator__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 35px;
  border-radius: 15px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  height: 80%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.canvas-container {
  display: flex;
  justify-content: center;
  height: 400px;
}
.map-img-generator__wrapper > button.btn-close {
  position: absolute;
  text-align: center;
  padding: 0;
  right: 6px;
  top: 8px;
  border-radius: 50%;
  background-color: #d5d5d5;
  height: 25px;
  width: 25px;
  margin: auto 0;
}
.map-img-generator__wrapper > button.download-img {
  background-color: #d5d5d5;
  font-size: 20px;
  padding: 5px;
  height: 10%;
}
.map-img-generator__wrapper > .img-styles-configuration {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 0;
}
.map-img-generator__wrapper > .img-styles-configuration > .styles-config-container {
  display: flex;
  gap: 10px;
  height: 25px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
}
.map-img-generator__wrapper > .img-styles-configuration > .styles-config-container > p {
  font-weight: initial;
  color: rgb(74, 74, 74);
}
.size-input-container > input {
  margin-right: 15px;
  height: 20px;
  width: 20px;
}

.refresh-img {
  position: absolute;
  right: 86px;
  bottom: 175px;
  background-color: #d5d5d5;
  font-size: 20px;
  padding: 15px;
}
